/*RESET*/
h1,h2,h3,p,figure {
    margin: 0;
}

a{color: inherit;}

/*GERAL*/
.content{
    font-family: "Inter", sans-serif;
    padding: 40px 80px 0 80px;
    margin-bottom: 0;
}

.flex{
    display: flex;
}


/*TOP-SITE*/
.top-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{color:#418EB3;}

.menu a{
    margin-left: 30px;
    text-decoration: none;
}

/*HERO-SECTION*/
.flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 20px 0 0 0;
}


.container h1{
    font-size: 40px;
}

.container p{
    font-weight: normal;
    margin: 20px 0;
    text-align: justify;
}

.container a{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #8CCEF1;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

.hero-image{ 
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*ICONS*/
.title h1{
    margin-top: 5%;
    text-align: center;
    padding: 60px 0 30px 0;
}

.icons{
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 5%;
    gap: 30px;
    padding: 30px 0 70px 0 ;
}


.icon img{
    width: 15%;
    text-align: center;  
}

.icon p,h3{
    text-align: center;
}



/*FORMS*/
.forms{
    display: flex;
    align-items: center;
    background-image: url(../imagens/g1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 2% 0 2% 0;
    height: 100%;
}

.text-form{
    margin: 10px 0 0 15%;
    width: 65%;
}

.text-form p, h1{
    text-align: left;
}

.text-form h3{
    border-radius: 20px;
}

.text-form p span{
    font-weight: bold;
}

.inscricao{
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.908);
    margin: 30px 15%;
    padding: 60px 15px 60px 15px;
    border-radius: 10px;;  
}

.inscricao h2{
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.input-element{display: block;
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid #555;
    margin-bottom: 20px;}

.botao{background-color: #8CCEF1;
    border: solid #555;
    border-radius: 10px;
    padding: 12px;
    width: 80%;
    font-weight: bold;
    margin-top: 10px;
}
.botao:hover{background-color: #abaef5;}


/*CLIENTES*/
.clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 70px 0;
}
.testemunhos{
    width: 55%;
    margin-right: 5%;
}
.testemunhos h1{
    color:#8CCEF1;
}
.testemunhos h3{
    padding-top: 2%;
    text-align: justify;
    font-weight: normal ;
}
.coluna-testemunho{
    width: 45%;
}
.testemunho{
    outline-style: solid;
    margin: 5%;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

.testemunho h3{
    text-align: justify;
}

.testemunho:hover{
    background-color: #8ccef156;
}


/*FOOTER*/
.foot{
    font-family: "Inter", sans-serif;
    background-color: #8CCEF1;
    padding: 5px 0 5px 0;
    margin-left: 0;
    margin-right: 0;
}

a img{
    width: 2%;
    align-items: center;
    justify-content: space-between;
}

.center{
    text-align: center;
    font-size: smaller;
}

/*Definição de media queries*/
@media screen and (max-width:1180px){
    /*GERAL*/
    .content{
        padding: 10px 20px 0 20px;
        flex-direction: column;
    }
    .flex{
        flex-direction: column;
    }
    .hero-image{
        width: auto;
        height: 100%;
    }
    .icons{
        flex-direction: column;
    }
    .forms{
        flex-direction: column;
    }
    .clientes{
        flex-direction: column;
        padding: 0 0;
        margin-right: 0%;
    }
    .text-form{
        width: 100%;
        margin-right: 0%;
        margin: 0 0 0 0;
    }
    .text-form h1{
        text-align: center;
    }
    .text-form p{
        text-align: center;
    }
    .testemunhos{
        width: 100%;
        margin: 0;
        padding: 20px 0 0 0;
    }
    .testemunhos h1{
        text-align: center;
    }
    .testemunhos h3{
        text-align: center;
    }
    .coluna-testemunho{
        width: 100%;
    }
}